// $bgcolor: #0C2233;
$color2_2:#FFC045;


$bgcolor:#05021e;

$color2:#f2b335e8;
$color2_1:#f2b3356d;

$bgcolor2:rgb(8, 4, 37);

$color4:#d2d2d2e6;
$color5:white;


$text3:  'Kalam', cursive;
$text1: 'Open Sans', sans-serif;
$text2 : 'Roboto', sans-serif;